@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600&family=Lato:wght@300;400;700&family=Open+Sans:wght@400;500;600;700&family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@300&family=Rubik:wght@300;400;500;600&display=swap");

:root {
	--color-default: rgba(185, 30, 30, 1);
	--color-white: #ffffff;
	--color-background: rgb(231, 71, 71);
}
*,
::after,
::before {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	height: 100vh;
	max-width: 100%;
	padding: 0;
	margin: 0;
	background-color: var(--color-white);
	scroll-behavior: smooth;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.wrapper {
	padding: 2em 0;
}

#siderbar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 280px;
	z-index: 100;
	background-color: var(--color-background);
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	box-shadow: 0px 15px 15px 5px rgba(175, 175, 175, 0.3);
	transition: width 0.3s ease-in-out;
}

#siderbar.mini-siderbar {
	width: 80px;
	transition: width 0.3s ease-in-out;
}
#siderbar.mini-siderbar ~ #header-nav,
#siderbar.mini-siderbar ~ #main {
	width: calc(100% - 70px);
	left: 70px;
	transition: all 0.3s ease-in-out;
}

#siderbar.mini-siderbar .logo img.logo-big {
	visibility: hidden;
	opacity: 0;
	transform: translateX(-200%);
	transition: width 0.2s ease-in-out;
}
#siderbar.mini-siderbar .logo img.logo-mini {
	visibility: visible;
	opacity: 1;
	width: 50px;
	transform: translateX(-200%);
	transition: all 0.2s ease-in-out;
}
#siderbar.mini-siderbar .item-link li a .text {
	display: none;
}

#siderbar .logo img.logo-big {
	width: 200px;
	visibility: inherit;
	opacity: 1;
	transform: translateX(50px);
	will-change: opacity, visibility;
	transition: all 0.2s ease-in-out;
}
#siderbar .logo img.logo-mini {
	visibility: hidden;
	opacity: 0;
	transform: translateX(-500%);
	will-change: opacity, visibility;
	transition: all 0.2s ease-in-out;
}

#siderbar::after {
	content: "";
	width: 60px;
	height: 38px;
	background-color: var(--color-background);
	position: absolute;
	right: -60px;
	top: 16px;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	z-index: 1;
}

#siderbar .toggle-nav {
	padding: 10px;
	position: absolute;
	right: -50px;
	top: 10px;
	z-index: 2;
}

#siderbar .toggle-nav i {
	font-size: 30px;
	cursor: pointer;
	color: var(--color-white);
}
#siderbar .logo {
	height: 70px;
	width: 100%;
	background: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-bottom: 1px solid var(--color-white);
	border-top-right-radius: 10px;
}
#siderbar .nav-links {
	overflow: hidden;
}
#siderbar .item-link {
	padding: 0;
	height: calc(100vh - 15vh);
	overflow-x: hidden;
	overflow-y: auto;
}
#siderbar .item-link::-webkit-scrollbar-track {
	-webkit-box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
	border-radius: 20px;
	background-color: #f5f5f5;
}

#siderbar .item-link::-webkit-scrollbar {
	display: none;
	/* width: 5px;
	background-color: #f5f5f5; */
}

#siderbar .item-link::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: var(--color-background);
}
#siderbar .item-link li {
	padding: 20px 30px;
	cursor: pointer;
	margin-top: 5px;
	border-bottom: 1px solid #ffffff39;
}
#siderbar .item-link li a .child-link li {
	padding: 0;
}

#siderbar .item-link li a {
	font-size: 16px;
	font-weight: 600;
	color: var(--color-white);
}
#siderbar .item-link li:hover,
#siderbar .item-link li a:hover {
	transform: translate(5px);
	transition: transform 0.2s ease-in-out;
}

#siderbar .item-link li a i {
	font-size: 18px;
	padding: 0px 10px;
}

/* #siderbar .item-link li.active::after {
	content: " ";
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	position: absolute;
	top: -8px;
	transform: rotate(63deg);
	right: -15px;
}
#siderbar .item-link li.active::before {
	content: " ";
	background-color: #ffffff;
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: -7px;
	transform: rotate(23deg);
	right: -15px;
} */
#siderbar .item-link li .icon {
	float: right;
	margin-right: -20px;
}

#siderbar .item-link li .child-link {
	width: 0;
	height: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
	/* margin-top: 10px;
	display: none;
	padding: 0;
	padding: 5px 30px; */
}
#siderbar .item-link li.active .child-link {
	width: unset;
	height: unset;
	opacity: 1;
	display: flex;
	flex-direction: column;
	padding: 6px 6px 14px 80px;
	background-color: #c5c5c5;
}

/* #siderbar .item-link li .child-link li {
	padding: 20px 5px 5px 10px;
} */
#siderbar .item-link li.active .child-link a {
}

#siderbar .item-link li .icon i,
#siderbar .item-link li.active .icon i ~ .child-link.block {
	transform: rotate(90deg);
	transition: transform 0.2s ease-in-out;
}

/* active */
#siderbar .item-link li.active,
#siderbar .item-link li.active a {
	background-color: var(--color-white);
	color: var(--color-default);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	position: relative;
	transition: all 0.2s ease-in-out;
}

/* #siderbar .item-link li.active .icon i,
#siderbar .item-link li.active .child-link.block {
	display: block;
	transform: rotate(0);
	transition: transform 0.2s ease-in-out;
}
#siderbar .item-link li.active .child-link.block {
	display: block;
}

#siderbar.mini-siderbar .item-link li .icon i {
	display: none;
}

#siderbar.mini-siderbar .item-link li.active .child-link {
	display: none;
	position: fixed;
	z-index: 101;
	background-color: var(--color-background);
} */

/* ============================================== */
/* Header */
#header-nav {
	position: relative;
	z-index: 99;
	width: calc(100% - 270px);
	left: 270px;
	height: 70px;
	background-color: var(--color-white);
	box-shadow: 0px 15px 15px 5px rgba(157, 157, 157, 0.3);
	transition: all 0.3s ease-in-out;
}
#header-nav .container {
	padding: 10px 10px 10px 20px;
}

/* ============================================== */
/* Main content */
#main {
	position: relative;
	width: calc(100% - 270px);
	left: 270px;
	transition: all 0.3s ease-in-out;
}
#main .container {
	padding: 20px;
}
